/* Date range style */
.dates {
  margin: 0 8px 0 0;
  font-size: small !important;
}

.rs-input-group {
  height: 28px !important;
  border-radius: 0;
  border: 1px solid var(--border-color);
}

/* text editor*/
.rs-picker-default .rs-picker-toggle.rs-btn {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 282px;
}

/* picked date align */
.rs-date-range-input {
  position: relative;
  /* z-index: 5; */
  outline: none;
  cursor: pointer;
  color: #575757;
  border: 1px solid #e5e5ea;
  padding-left: 28px !important;
  padding-right: 0;
  width: 192px !important;
  font-size: small !important;
}

.rs-icon {
  margin-top: 3px;
}

/* calander align */
.rs-input-group-addon {
  display: inline-block;
  margin-right: 240px;
  position: absolute;
  top: -3px !important;
  right: 12px;
  font-weight: normal;
  color: #8e8e93;
  height: 28px;
  padding: 6px !important;
}

/* ok button style */
.rs-picker-toolbar-right-btn-ok {
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 30px;
  color: #fff;
  background-color: #3498ff;
  width: 100px;
}
