.sidebar {
  flex: 1;
  text-align: left;
  &__title {
    font-size: var(--heading-2);
    font-weight: 500;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    font-size: var(--heading-3);
    font-weight: 400;
  }
}

.ant-menu {
  background-color: var(--bg-color) !important;
  font-family: 'Alexandria';
  color: var(--text-color);
  padding: 0px !important;
}

.ant-menu-item-active,
.ant-menu-item-selected {
  background-color: var(--bg-color) !important;
  color: var(--secondary-text-color) !important;
  text-decoration: underline;
  font-weight: 500;
}

.ant-menu-submenu-title {
  font-size: var(--heading-2);
  font-weight: 600;
  color: var(--text-color) !important;
  padding-left: 12px !important;
}

.ant-menu-item {
  padding-left: 12px !important;
}

.products {
  flex: 3;
}

.product-item {
  margin-right: 32px;
  margin-bottom: 32px;
  text-align: left;
}
