.heading-1 {
  font-size: var(--heading-1);
  font-weight: bold;
}
.heading-2 {
  font-size: var(--heading-2);
  font-weight: bold;
}
.heading-3 {
  font-size: var(--heading-3);
  font-weight: bold;
}
.heading-4 {
  font-size: var(--heading-4);
  font-weight: bold;
}

.typo-1 {
  color: black;
  font-weight: 300;
  font-family: sans-serif;
}

.link {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

.link:hover {
  color: var(--primary-color);
}

.border-right {
  border-right: 1px solid var(--primary-color);
}

.under-line {
  padding-bottom: 12px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--underline-color);
}
