.heading-1 {
  font-size: var(--heading-1);
  font-weight: bold;
}
.heading-2 {
  font-size: var(--heading-2);
  font-weight: bold;
}
.heading-3 {
  font-size: var(--heading-3);
  font-weight: bold;
}
.heading-4 {
  font-size: var(--heading-4);
  font-weight: bold;
}

.typo-1 {
  color: black;
  font-weight: 300;
  font-family: sans-serif;
}
