.table__record-detail {
  width: 100%;
  margin: 28px 20px;
  padding: 8px 20px;
  background-color: white;
}

.table__record-detail__wrapper {
  width: 100%;

}

.table__record-detail-group-container {
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.table__record-detail-group {
  display: flex;
  width: 100%;
}

.table__record-detail-item {
  display: flex;
  flex: 1;

}

.table__record-detail-title {
  color: var(--primary-color);
  font-weight: 500;
  text-align: start;
  margin-bottom: 6px;
  margin-top: 12px;
}

.table__record-detail-label {
  border: 1px solid var(--border-color);
  border-right: none;
  border-bottom: none;
  background-color: var(--primary-bg-color);
  width: 150px;
  padding: 6px 12px;
  text-align: end;
}


.table__record-detail-content {
  flex: 1;
  min-width: 150px;
  padding: 6px 12px;
  text-align: start;
  border: 1px solid var(--border-color);
  border-right: none;
  border-bottom: none;
}

.table__row-select {
  font-weight: bold !important;
}

.table__header {
  font-size: small;
  background-color: var(--primary-bg-color) !important;
  padding: 8px;
  border: 1px solid var(--border-color)
}

.table__body {
  font-size: small;
  padding: 8px;
  border: 1px solid var(--border-color)
}