.payment {
  display: flex;

  input[type='text'] {
    padding: 8px;
    margin: 6px 0;
  }

  input::placeholder {
    font-size: 0.8rem;
    font-weight: 400;
  }
}

.payment-info {
  flex: 3;
  padding-right: 24px;
}

.payment-products {
  flex: 2;
  padding: 24px;
}

.payment-input {
  width: 100%;
}

.payment-input-group {
  display: flex;
}

.payment-input-phone {
  flex: 2;
  margin-right: 12px !important;
}

.payment-input-mail {
  flex: 3;
}

// Products

.payment-products {
  background-color: var(--secondary-bg-color);
  border: 2px solid var(--blurborder-color);
}

.payment-product-item {
  display: flex;
  padding-bottom: 12px;
  margin-bottom: 28px;
  border-bottom: 1px solid var(--underline-color);

  img {
    height: 108px;
    max-width: 108px;
  }
}

.payment-product-info {
  text-align: left;
  margin-left: 24px;
  display: flex;
}

.payment-product-name {
  margin-bottom: 24px;
}

.payment-product-title {
  margin-right: 24px;
}

.payment-product-price {
  display: flex;
  align-items: center;
}

.payment-product-promotional-code {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--underline-color);
}

.payment-input-promotional-code {
  border-radius: 4px;
  flex: 2;
}

.payment-button {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.payment-product-temple {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--underline-color);
}

.payment-product-temple-total {
  display: flex;
  justify-content: space-between;
}

.payment-product-total-price {
  display: flex;
  align-items: center;
}

.payment-product-total-price-number {
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 12px;
}

.payment-terms {
  padding: 12px;
  border: 1px solid var(--underline-color);
}

.payment-total-leftside {
  flex: 3;
}

.payment-total {
  flex: 2;
  text-align: left;
}

.payment-total-wrapper {
  display: flex;
  background-color: var(--secondary-bg-color);
  border: 2px solid var(--blurborder-color);
  padding: 24px;
}

.payment-confirm {
  display: flex;
  justify-content: space-between;
}
