.payment {
  display: flex;

  input {
    padding: 8px;
    margin: 6px 0;
  }

  input::placeholder {
    font-size: 0.8rem;
    font-weight: 400;
  }
}

.payment-info {
  flex: 3;
  padding: 24px;
}

.payment-products {
  flex: 2;
  padding: 24px;
}

.payment-input {
  width: 100%;
}

.payment-input-group {
  display: flex;
}

.payment-input-phone {
  flex: 2;
  margin-right: 12px !important;
}

.payment-input-mail {
  flex: 3;
}

// Products

.payment-product-item {
  display: flex;
  padding-bottom: 18px;
  margin-bottom: 36px;
  border-bottom: 1px solid var(--underline-color);

  img {
    height: 108px;
    max-width: 108px;
  }
}

.payment-product-info {
  text-align: left;
  margin-left: 24px;
  display: flex;
}

.payment-product-name {
  margin-bottom: 24px;
}

.payment-product-title {
  margin-right: 24px;
}

.payment-product-price {
  display: flex;
  align-items: center;
}
